<link rel="stylesheet" href="css/estilos.css">

<p class="alert alert-primary">
    Argumento 1 : {{arg1}}<br>
    Argumento 2 : {{arg2}}<br>
    Argumento 3 : {{arg3}}<br>
    Path de ejecución : {{arg4}}<br> 
    Nombre de la plataforma :  {{arg5}}<br>      
    Process id :  {{arg6}}<br>
    Versión de node.js :  {{arg7}}<br>                                              
    Carpeta corriente :  {{arg8}}<br>
    Uso de memoria :  {{arg9}}<br>
</p>
    <button class="btn btn-success" onclick="location.href='/'">
        <b>Volver</b><br>
    </button>

